<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <link rel="stylesheet" href="css/usercenter.css">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="layer/layer.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
</head>
<body>

<div style="padding: 200px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card" style=" height: 160px;">
                <div class="layui-upload" style="padding-left: 500px;padding-top: 50px">
                    <div class="layui-upload">
                        <!--void(0)是死链接的意思-->
                        <a href="javascript:void(0);" onclick="downloadFile()">
                            <button type="button" class="layui-btn" >下载周报模板</button>
                        </a>
                        <br><br>
                        <button type="button" class="layui-btn" id="test1">上传周报（只支持.doc）</button>
                        <br><br>
                        <button type="button" class="layui-btn" id="test9">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // 模板下载地址（点击下载会跳转到这个函数,改变href）
    function downloadFile() {
        window.location = "doc/model/report4Download.doc";
    }

    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        upload.render({
            elem: '#test1'
            , url: 'reports' //改成您自己的上传接口
            , method: 'post'
            , accept: 'file'  //所有文件
            , exts : 'doc'
            , size: 50000  //限制文件大小，单位 KB
            , auto: false 	// 是否选完文件后自动上传,false要结合bindAction才行
            , bindAction: '#test9'  // 指向一个按钮触发上传
            , drag: true  // 是否接受拖拽的文件上传
            , done: function (res) {
                if (res.code === 0) {
                    layer.msg('成功！刷新后生效！');
                    setTimeout(function () {
                        parent.window.tabFun("上传周报", "查看个人周报", 'studentListReport');
                        //跳用户查看所有周报的界面
                        // location.href = "studentListReport";
                    }, 1000)
                } else {
                    layer.msg(res.msg);
                }
            }
        });
    });
</script>
</html>