<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>
<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">公告标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">公告内容</label>
        <div class="layui-input-block">
            <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline" style="width: 310px">
            <label class="layui-form-label">通知人员(至少选择一项)</label>
            <div class="layui-input-block">
                <table class="layui-hide" id="test" lay-filter="test"></table>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="demo">确认</button>
        </div>
    </div>


</form>

<!--加载选择用户表格的数据（这里是单选框）-->
<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , id: 'userTable'
            , width: 580
            , url: 'users' // url找到处理谁
            , method:'get' // method找到CRUD方法
            , title: '用户数据表'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', fixed: 'left', unresize: true, sort: true}
                    , {field: 'name', title: '用户名'} // edit: 'text'会导致可直接编辑
                ]
            ]
            // 这里暂时不开分页吧
            // ,page: true
        });
    });
</script>

<!--监听提交，获取内容，跳转-->
<script>
    //Demo
    layui.use('form', function () {

        // 定义form
        var form = layui.form;
        var layer = layui.layer;

        /////提交通知////
        form.on('submit(demo)', function (data) {
            // 定义table
            var table = layui.table;
            // 先取好table里选中的用户信息
            var checkStatus = table.checkStatus('userTable'); //userTable 即为基础参数 id 对应的值
            var users = checkStatus.data;
            // layer.alert(JSON.stringify(user));
            // 异步提交
            $.ajax({
                url: 'admin/notices',
                type: 'post',
                dataType: 'json',
                data: {
                    //监听的内容有哪些,你的登陆界面上用户输入的有哪些，就监听那些
                    title: $('input[name=title]').val(),
                    content: $('textarea[name=content]').val(),
                    users: JSON.stringify(users)
                },
                beforeSend: function () {
                    //弹出的lodinng层
                    layer.load(2, {
                        shade: [0.5, "#333"]
                    });
                },
                success: function (res) {
                    if (res.code === 0) {
                        //res.code == 0,表示用户输入成功，1表示失败
                        //获取用户输入的内容，存到本地存储，采用sessionStorage是因为用户只需输入一次，不需要保存，用户的体验感较好，也比较安全
                        layer.msg("添加完成", {icon: 1})
                        setTimeout(function () {
                            parent.window.tabFun("新增公告", "查看公告", 'adminListNotice');
                            // //如果输入成功，可以跳到另一个你需要的界面
                            // location.href = "adminListNotice";
                        }, 1000)
                    } else {
                        //不等于0时填出的内容
                        layer.msg(res.msg)
                    }
                },
                error: function () {
                    //用户输入与接口内容不对应，显示文字
                    layer.msg("网络繁忙，访问失败")
                },
                complete: function () {
                    //关掉loading
                    layer.closeAll("loading")
                }
            })
            return false;//不会跳转到网址栏，只会跳转到你要的界面 一定要写。
        });
    });
</script>

</body>
</html>