<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>
<form class="layui-form" action="" lay-filter="example">
    <div style="padding-top: 50px; padding-right: 100px">
        <div class="layui-form-item">
            <label class="layui-form-label">周报标题</label>
            <div class="layui-input-block">
                <input name="title" type="text" lay-verify="required" placeholder="请输入内容" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">周报内容</label>
            <div class="layui-input-block">
                <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">周报点评</label>
            <div class="layui-input-block">
                <textarea name="comment" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
           
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="demo1">确定</button>
            </div>
        </div>
    </div>

</form>

<script>
    // 获得后端传来的rid
    var rid = '[[${rid}]]';

    //Demo
    layui.use('form', function () {
        var form = layui.form;
        var layer = layui.layer;

        // ajax异步请求res
        $.ajax({
            url: 'reports/'+rid,
            type: 'get',
            success: function (res) {
                console.log(res)
                if (res.code === 0) {
                    // 收到json后给表单赋值
                    form.val("example", { //example 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                        "title": res.data.title // "name": "value"
                        ,"content": res.data.content
                        ,"comment": res.data.comment
                    });
                }
            }
        })

        //监听提交
        form.on('submit(demo1)', function (data) {
            // layer.msg(JSON.stringify(data.field));

            var data = form.val('example');
            // layer.alert(JSON.stringify(data));
            // 异步提交
            $.ajax({
                url: 'reports/'+rid, // 这里加上uid是为了获得dbUser
                type: 'put',
                dataType: 'json',
                data: data,
                beforeSend: function () {
                    //弹出的lodinng层
                    layer.load(2, {
                        shade: [0.5, "#333"]
                    });
                },
                success: function (res) {
                    if (res.code == 0) {
                        //res.code == 0,表示用户输入成功，1表示失败
                        //获取用户输入的内容，存到本地存储，采用sessionStorage是因为用户只需输入一次，不需要保存，用户的体验感较好，也比较安全
                        layer.msg("修改完成", {icon: 1})
                        setTimeout(function () {
                            //如果输入成功，可以跳到另一个你需要的界面
                            location.href = "adminListReport";
                        }, 1000)
                    } else {
                        //不等于0时填出的内容
                        layer.msg(res.msg)
                    }
                },
                error: function () {
                    //用户输入与接口内容不对应，显示文字
                    layer.msg("网络繁忙，访问失败")
                },
                complete: function () {
                    //关掉loading
                    layer.closeAll("loading")
                }
            })
            return false;
        });
    });
</script>
</body>
</html>