<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>

<div id="tableData" lay-filter="tableData"></div>


<script type="text/html" id="protoolbar">
    <div class="layui-btn layui-btn-sm" lay-event="seepro">查看</div>
</script>
<script type="text/html" id="publitoolbar">
    <div class="layui-btn layui-btn-sm" lay-event="seepubli">查看</div>
</script>
<script type="text/html" id="toolbar">
    <div class="layui-btn layui-btn-sm" lay-event="see">编辑</div>

    <div class="layui-btn layui-btn-sm" lay-event="downloadFile"
         href="javascript:void(0);">下载信息表</div>

    <div class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</div>
</script>

<script>
    layui.use(['layer', 'table'], function () {
        let layer = layui.layer,
            table = layui.table;

        table.render({
            elem: "#tableData",
            url: "admin/users",
            method: "get",
            cols: [
                [
                    {field: 'id', title: 'ID', width: "10%", sort: true},
                    {field: 'name', title: '用户名', width: "10%"},
                    {field: 'permStr', title: '权限', width: "10%"},
                    {field: 'projectName', title: '项目', width: "15%", align: 'center', toolbar: '#protoolbar'},
                    {field: 'publiName', title: '周报', width: "15%", align: 'center', toolbar: '#publitoolbar'},
                    {fixed: 'right', title: '操作', width: "40%", align: 'center', toolbar: '#toolbar'}
                ]
            ]
        })

        table.on("tool(tableData)", function (obj) {
            // var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            console.log(obj)
            let event = obj.event;
            var data = obj.data;  // 获取选中行的信息
            if (event === "see") {
                // 跳转至编辑个人信息
                var url = "adminEditUser?uid=" + data.id;
                location.href = url;

            } else if (event === "downloadFile") {
                // 下载信息表
                window.location = "doc/user/" + data.id + ".doc";

            } else if (event === "delete") {
                layer.confirm('是否要删除？(会删除其所有周报，相关项目除名，相关公告除名)', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    // 进行删除
                    $.ajax({
                        url: "admin/users/" + data.id,
                        type: "delete",
                        data: null,
                        dataType: "json",
                        success: function (res) {
                            if (res.code === 0) {
                                layer.msg("已删除"+res.data+"条数据！");
                                setTimeout(function () {
                                    //如果输入成功，可以跳到另一个你需要的界面
                                    location.href = "adminListUser";
                                }, 1000)
                            }else {
                                layer.msg(res.msg);
                            }
                        }
                    });
                }, function () {
                });
            } else if (event === "seepro") {
                // 跳转至查看个人所有项目
                var url = "adminListUserProject?uid=" + data.id;
                location.href = url;

            } else if (event === "seepubli") {
                // 跳转至查看个人所有周报
                var url = "adminListUserReport?uid=" + data.id;
                location.href = url;
            }
        })
    })
</script>
</body>
</html>