<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>测试Thymeleaf</title>
</head>
<body>
<h2 th:text="${name}">name</h2>
<hr>
进入用户添加功能：<a href="add">用户添加</a><br>
进入用户编辑功能：<a href="update">用户编辑</a><br>
<div shiro:hasPermission="admin:manager">
    进入管理员功能：<a href="adminManager">管理界面</a><br><br>
</div>
<a href="toLogin">登录</a>
<a href="logout">退出</a>
</body>
</html>